.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-inline: auto;
  inline-size: min(100%, 400px);
  background: var(--mui-palette-container);
  padding: 2rem;
  border-radius: 0.5rem;
}
