.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  block-size: var(--app-header-height);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--mui-palette-primary-main);
}

.logo {
  cursor: pointer;
  transition:
    transform 200ms linear,
    filter 200ms ease-in-out;

  &:hover {
    transform: rotate(90deg) scale(1.1);
  }
}
